<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
    integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />

<main>
    <section class="section section-shaped section-lg" style="background-color: white">
        <div class="container-md" style="margin-top: 40px; margin-left: 200px; margin-right: 200px">
            <div class="main-body p-0">
                <div class="row no-gutters">
                    <div class="col-12 col-sm-6 col-sm-6">
                        <form [formGroup]="searchForm">
                            <div class="input-group input-group-alternative mb-2">
                                <input class="form-control" placeholder="Taper la question" type="text"
                                    (focus)="focus1 = true" (blur)="focus1 = false" style="background-color: #eef2ff"
                                    name="nom" formControlName="intitule" />
                                <button class="btn btn-outline-primary" (click)="getQuestionIntitule()"
                                    style="margin-left: 5px">
                                    Chercher
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="col-6 col-md-4" style="margin-left: 210px; width: 100px">
                        <form [formGroup]="sujetForm" action="">
                            <input formControlName="sujet" matInput type="text" class="form-control"[matAutocomplete]="auto" placeholder="Sujets"  [formControl]="formControl">
                            <mat-autocomplete #auto="matAutocomplete">
                              <mat-option *ngFor="let sujet of filteredOptions  | async" [value]="sujet.nom">
                                {{sujet.nom}}
                              </mat-option>
                            </mat-autocomplete>
                        </form>
                    </div>
                </div>
                <div class="inner-main">
                    <ngb-tabset [justify]="'center'" class="custom-tab-content flex-column flex-md-row" type="pills">
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <i class="fa fa-question" aria-hidden="true"></i> Toute mes
                                questions
                            </ng-template>
                            <ng-template ngbTabContent>
                                <div *ngFor="let question of questions" class="card mb-2" style="margin-top: 30px">
                                    <div class="card-body p-2 p-sm-3">
                                        <li class="nav-item" ngbDropdown placement="bottom-right" style="float: right">
                                            <a class="nav-link nav-link-icon no-caret" ngbDropdownToggle
                                                id="nav-inner-success_dropdown_1" role="button" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                                <span class="nav-link-inner--text d-lg-none">Settings</span>
                                            </a>
                                            <div class="dropdown-menu-right"
                                                aria-labelledby="nav-inner-success_dropdown_1" ngbDropdownMenu>
                                                <a class="dropdown-item"
                                                    [routerLink]="['/update-question', question.id]">Modifier</a>
                                                <a class="dropdown-item"
                                                    (click)="open(content, 'deletequestion', question)">Supprimer</a>
                                            </div>
                                        </li>
                                        <div class="media forum-item">
                                            <div class="media-body" [routerLink]="['/reponse-list', question.id]">
                                                <h6>
                                                    <a href="#" data-toggle="collapse" data-target=".forum-content"
                                                        class="text-body font-weight-bold">{{ question.intituleQuestion
                                                        }}</a>
                                                    <div *ngFor="let tag of toArray(question?.tag)">
                                                        <span class="badge badge-pill badge-info text-uppercase">{{
                                                            tag.nom }}</span>
                                                    </div>
                                                </h6>
                                                Crée le : {{ question.createdAt | date: "shortDate" }}
                                                <span *ngIf="question.statut == 'valide'"
                                                    class="badge badge-pill badge-success text-uppercase">Valide</span>
                                                <span *ngIf="question.statut == 'invalide'"
                                                    class="badge badge-pill badge-warning text-uppercase">Non
                                                    Valide</span>
                                                <span *ngIf="question.statut == 'onHold'"
                                                    class="badge badge-pill badge-primary text-uppercase">En
                                                    attente</span>
                                                <span *ngIf="question.statut == 'draft'"
                                                    class="badge badge-pill badge-info text-uppercase">Brouillon</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <i class="fa fa-file-text-o" aria-hidden="true"></i> Brouillons
                            </ng-template>
                            <ng-template ngbTabContent>
                                <div class="card mb-2" style="margin-top: 30px">
                                    <div *ngFor="let question of brouillons" class="card-body p-2 p-sm-3">
                                        <li class="nav-item" ngbDropdown placement="bottom-right" style="float: right">
                                            <a class="nav-link nav-link-icon no-caret" ngbDropdownToggle
                                                id="nav-inner-success_dropdown_1" role="button" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                                <span class="nav-link-inner--text d-lg-none">Settings</span>
                                            </a>
                                            <div class="dropdown-menu-right"
                                                aria-labelledby="nav-inner-success_dropdown_1" ngbDropdownMenu>
                                                <a class="dropdown-item" (click)="publier(question.id)">Publier</a>
                                                <a class="dropdown-item"
                                                    (click)="open(content, 'deletequestion', question)">Supprimer</a>
                                            </div>
                                        </li>
                                        <div class="media forum-item" [routerLink]="['/publish-question', question.id]">
                                            <div class="media-body">
                                                <h6>
                                                    <a href="#" data-toggle="collapse" data-target=".forum-content"
                                                        class="text-body font-weight-bold">{{ question.intituleQuestion
                                                        }}</a>
                                                    <div *ngFor="let tag of toArray(question?.tag)">
                                                        <span class="badge badge-pill badge-info text-uppercase">{{
                                                            tag.nom }}</span>
                                                    </div>
                                                </h6>
                                                Crée le : {{ question.createdAt | date: "shortDate" }}
                                                <span *ngIf="question.statut == 'valide'"
                                                    class="badge badge-pill badge-success text-uppercase">Valide</span>
                                                <span *ngIf="question.statut == 'invalide'"
                                                    class="badge badge-pill badge-warning text-uppercase">Non
                                                    Valide</span>
                                                <span *ngIf="question.statut == 'onHold'"
                                                    class="badge badge-pill badge-primary text-uppercase">En
                                                    attente</span>
                                                <span *ngIf="question.statut == 'draft'"
                                                    class="badge badge-pill badge-info text-uppercase">Brouillon</span>
                                            </div>
                                        </div>
                                        <div style="float: right">
                                            <button class="btn btn-sm btn-2 btn-primary" type="button">
                                                3
                                                <span class="btn-inner--icon"><i class="fa fa-thumbs-up"
                                                        aria-hidden="true" (click)="likeReponse()"></i></span>
                                            </button>
                                            <button class="btn btn-sm btn-2 btn-danger" type="button">
                                                3
                                                <span class="btn-inner--icon"><i class="fa fa-thumbs-down"
                                                        aria-hidden="true" (click)="dislikeReponse()"></i></span>
                                            </button>
                                            <button class="btn btn-sm btn-2 btn-info" type="button"
                                                (click)="showCommentsSection()">
                                                5
                                                <span class="btn-inner--icon"><i class="fa fa-comment"
                                                        aria-hidden="true"></i></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle><i class="fa fa-check" aria-hidden="true"></i>Publiées
                            </ng-template>
                            <ng-template ngbTabContent>
                                <div *ngFor="let question of published" class="card mb-2" style="margin-top: 30px">
                                    <div class="card-body p-2 p-sm-3">
                                        <li class="nav-item" ngbDropdown placement="bottom-right" style="float: right">
                                            <a class="nav-link nav-link-icon no-caret" ngbDropdownToggle
                                                id="nav-inner-success_dropdown_1" role="button" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                                <span class="nav-link-inner--text d-lg-none">Settings</span>
                                            </a>
                                            <div class="dropdown-menu-right"
                                                aria-labelledby="nav-inner-success_dropdown_1" ngbDropdownMenu>
                                                <a class="dropdown-item"
                                                    [routerLink]="['/update-question', question.id]">Modifier</a>
                                                <a class="dropdown-item"
                                                    (click)="open(content, 'deletequestion', question)">Supprimer</a>
                                            </div>
                                        </li>

                                        <div class="media forum-item">
                                            <div class="media-body" [routerLink]="['/reponse-list', question.id]">
                                                <h6>
                                                    <a href="#" data-toggle="collapse" data-target=".forum-content"
                                                        class="text-body font-weight-bold">{{ question.intituleQuestion
                                                        }}</a>
                                                    <div *ngFor="let tag of toArray(question?.tag)">
                                                        <span class="badge badge-pill badge-info text-uppercase">{{
                                                            tag.nom }}</span>
                                                    </div>
                                                </h6>
                                                Crée le : {{ question.createdAt | date: "shortDate" }}
                                                <span *ngIf="question.statut == 'valide'"
                                                    class="badge badge-pill badge-success text-uppercase">Valide</span>
                                                <span *ngIf="question.statut == 'invalide'"
                                                    class="badge badge-pill badge-warning text-uppercase">Non
                                                    Valide</span>
                                                <span *ngIf="question.statut == 'onHold'"
                                                    class="badge badge-pill badge-primary text-uppercase">En
                                                    attente</span>
                                                <span *ngIf="question.statut == 'draft'"
                                                    class="badge badge-pill badge-info text-uppercase">Brouillon</span>
                                            </div>
                                        </div>
                                        <div style="float: right">
                                            <button class="btn btn-sm btn-2 btn-primary" type="button">
                                                3
                                                <span class="btn-inner--icon"><i class="fa fa-thumbs-up"
                                                        aria-hidden="true" (click)="likeReponse()"></i></span>
                                            </button>
                                            <button class="btn btn-sm btn-2 btn-danger" type="button">
                                                3
                                                <span class="btn-inner--icon"><i class="fa fa-thumbs-down"
                                                        aria-hidden="true" (click)="dislikeReponse()"></i></span>
                                            </button>
                                            <button class="btn btn-sm btn-2 btn-info" type="button"
                                                (click)="showCommentsSection()">
                                                5
                                                <span class="btn-inner--icon"><i class="fa fa-comment"
                                                        aria-hidden="true"></i></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <i class="fa fa-times" aria-hidden="true"></i> Refusées
                            </ng-template>
                            <ng-template ngbTabContent>
                                <h1 *ngIf="invalidQ == null">Aucune question pour le moment</h1>

                                <div *ngFor="let question of invalidQ" class="card mb-2" style="margin-top: 30px">
                                    <div class="card-body p-2 p-sm-3">
                                        <li class="nav-item" ngbDropdown placement="bottom-right" style="float: right">
                                            <a class="nav-link nav-link-icon no-caret" ngbDropdownToggle
                                                id="nav-inner-success_dropdown_1" role="button" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                                <span class="nav-link-inner--text d-lg-none">Settings</span>
                                            </a>
                                            <div class="dropdown-menu-right"
                                                aria-labelledby="nav-inner-success_dropdown_1" ngbDropdownMenu>
                                                <a class="dropdown-item"
                                                    [routerLink]="['/update-question', question.id]">Modifier</a>
                                                <a class="dropdown-item"
                                                    (click)="open(content, 'deletequestion', question)">Supprimer</a>
                                            </div>
                                        </li>
                                        <div class="media forum-item">
                                            <div class="media-body" [routerLink]="['/update-question', question.id]">
                                                <h6>
                                                    <a href="#" data-toggle="collapse" data-target=".forum-content"
                                                        class="text-body font-weight-bold">{{ question.intituleQuestion
                                                        }}</a>
                                                    <div *ngFor="let tag of toArray(question?.tag)">
                                                        <span class="badge badge-pill badge-info text-uppercase">{{
                                                            tag.nom }}</span>
                                                    </div>
                                                </h6>
                                                Crée le : {{ question.createdAt | date: "shortDate" }}
                                                <span *ngIf="question.statut == 'valide'"
                                                    class="badge badge-pill badge-success text-uppercase">Valide</span>
                                                <span *ngIf="question.statut == 'invalide'"
                                                    class="badge badge-pill badge-warning text-uppercase">Non
                                                    Valide</span>
                                                <span *ngIf="question.statut == 'onHold'"
                                                    class="badge badge-pill badge-primary text-uppercase">En
                                                    attente</span>
                                                <span *ngIf="question.statut == 'draft'"
                                                    class="badge badge-pill badge-info text-uppercase">Brouillon</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle> En attente </ng-template>
                            <ng-template ngbTabContent>
                                <div *ngFor="let question of requests" class="card mb-2" style="margin-top: 30px">
                                    <div class="card-body p-2 p-sm-3">
                                        <li class="nav-item" ngbDropdown placement="bottom-right" style="float: right">
                                            <a class="nav-link nav-link-icon no-caret" ngbDropdownToggle
                                                id="nav-inner-success_dropdown_1" role="button" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                                <span class="nav-link-inner--text d-lg-none">Settings</span>
                                            </a>
                                            <div class="dropdown-menu-right"
                                                aria-labelledby="nav-inner-success_dropdown_1" ngbDropdownMenu>
                                                <a class="dropdown-item"
                                                    [routerLink]="['/update-question', question.id]">Modifier</a>
                                                <a class="dropdown-item"
                                                    (click)="open(content, 'deletequestion', question)">Supprimer</a>
                                            </div>
                                        </li>
                                        <div class="media forum-item">
                                            <div class="media-body" [routerLink]="['/reponse-list', question.id]">
                                                <h6>
                                                    <a href="#" data-toggle="collapse" data-target=".forum-content"
                                                        class="text-body font-weight-bold">{{ question.intituleQuestion
                                                        }}</a>
                                                    <div *ngFor="let tag of toArray(question?.tag)">
                                                        <span class="badge badge-pill badge-info text-uppercase">{{
                                                            tag.nom }}</span>
                                                    </div>
                                                </h6>
                                                Crée le : {{ question.createdAt | date: "shortDate" }}
                                                <span *ngIf="question.statut == 'valide'"
                                                    class="badge badge-pill badge-success text-uppercase">Valide</span>
                                                <span *ngIf="question.statut == 'invalide'"
                                                    class="badge badge-pill badge-warning text-uppercase">Non
                                                    Valide</span>
                                                <span *ngIf="question.statut == 'onHold'"
                                                    class="badge badge-pill badge-primary text-uppercase">En
                                                    attente</span>
                                                <span *ngIf="question.statut == 'draft'"
                                                    class="badge badge-pill badge-info text-uppercase">Brouillon</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>

                    <ul class="pagination pagination-sm pagination-circle justify-content-center mb-0">
                        <li class="page-item disabled">
                            <span class="page-link has-icon"><i class="fa fa-angle-left"></i></span>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0)">1</a>
                        </li>
                        <li class="page-item active"><span class="page-link">2</span></li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0)">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link has-icon" href="javascript:void(0)"><i
                                    class="fa fa-angle-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!--***************************************************** DELETE QUESTUION ************************************************-->
    <ng-template #content let-c="close" let-d="dismiss" aria-labelledby="delete-question">
        <div class="modal-header">
            <h4 class="modal-title" id="modify-reponse">Supprimer Connaissance</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <p>Veuillez confirmer la suppression de la question</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary" (click)="d('Cross click')">
                Annuler
            </button>
            <button type="button" class="btn btn-success" (click)="c('yes')">
                Supprimer
            </button>
        </div>
    </ng-template>
</main>