<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
    integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />

<main>
    <section class="section section-shaped section-lg" style="background-color: white">
        <div class="container-md" style="margin-top: 40px; margin-left: 200px; margin-right: 200px">
            <div class="main-body p-0">
              <div class="card " style="background-color: white;">
                  <div class="card-body">
                    <div >
                        <form  [formGroup]="searchForm">
                            <div class="row">
                                <div class="col">
                                    <th>Intitule de la question</th>
                                    <input class="form-control" placeholder="Taper la question" type="text"
                                        (focus)="focus1 = true" (blur)="focus1 = false"
                                        name="nom"  formControlName="intitule" style="padding-left: 5px;"/>
                                </div>
                                <div class="col">
                                    <th>Sujet de la question</th>
                                    <input  formControlName="sujet" matInput type="text" class="form-control"
                                        [matAutocomplete]="auto" placeholder="Sujets" [formControl]="formControl" style="padding-left: 5px;">
                                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="getConnaissancesBySujet($event.option.value)">
                                        <mat-option *ngFor="let sujet of filteredOptions  | async" [value]="sujet.nom">
                                            {{sujet.nom}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </div>
                            </div>
                           <div style="float: right; margin-top: 5px;">
                            <button class="btn   btn-outline-primary" (click)="resetSearchForm()">
                                Reset
                            </button>
                            <button class="btn btn-success" (click)="getQuestions()">
                                Chercher
                            </button>
                           </div>
                        </form>
                    </div>
                  </div>
              </div>


                <div class="inner-main">
                    <ngb-tabset [justify]="'center'" class="custom-tab-content flex-column flex-md-row" type="pills">
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <i class="fa fa-question" aria-hidden="true"></i> Toute mes
                                questions
                            </ng-template>
                            <ng-template ngbTabContent>
                                
                                <div *ngFor="let question of questions | paginate: { itemsPerPage: 10, currentPage: page1, totalItems:totalElement}"
                                    class="card mb-2" style="margin-top: 30px">
                                    <div class="card-body p-2 p-sm-3">
                                        <li class="nav-item" ngbDropdown placement="bottom-right" style="float: right">
                                            <a class="nav-link nav-link-icon no-caret" ngbDropdownToggle
                                                id="nav-inner-success_dropdown_1" role="button" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                                <span class="nav-link-inner--text d-lg-none">Settings</span>
                                            </a>
                                            <div class="dropdown-menu-right"
                                                aria-labelledby="nav-inner-success_dropdown_1" ngbDropdownMenu>
                                                <a class="dropdown-item"
                                                    [routerLink]="['/update-question', question.id]">Modifier</a>
                                                <a class="dropdown-item"
                                                    (click)="open(content, 'deletequestion', question)">Supprimer</a>
                                            </div>
                                        </li>
                                        <div class="media forum-item">
                                            <div class="media-body" >
                                                <h6>
                                                    <a  [routerLink]="['/reponse-list', question.id]" data-toggle="collapse" data-target=".forum-content"
                                                        class="text-body font-weight-bold">{{ question.intituleQuestion
                                                        }}</a>
                                                    <div *ngFor="let tag of toArray(question?.tag)">
                                                        <span class="badge badge-pill badge-info text-uppercase">{{
                                                            tag.nom }}</span>
                                                    </div>
                                                </h6>
                                                Crée le : {{ question.createdAt | date: "shortDate" }}
                                                <span *ngIf="question.statut == 'valide'"
                                                    class="badge badge-pill badge-success text-uppercase">Valide</span>
                                                <span *ngIf="question.statut == 'invalide'"
                                                    class="badge badge-pill badge-warning text-uppercase">Non
                                                    Valide</span>
                                                <span *ngIf="question.statut == 'onHold'"
                                                    class="badge badge-pill badge-primary text-uppercase">En
                                                    attente</span>
                                                <span *ngIf="question.statut == 'draft'"
                                                    class="badge badge-pill badge-info text-uppercase">Brouillon</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="pagination pagination-sm pagination-circle justify-content-center mb-0">
                                    <pagination-controls (pageChange)="page1 = $event"></pagination-controls>
                                </ul>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <i class="fa fa-file-text-o" aria-hidden="true"></i> Brouillons
                            </ng-template>
                            <ng-template ngbTabContent>
                                <div class="card mb-2" style="margin-top: 30px">
                                    <div *ngFor="let question of brouillons | paginate: { itemsPerPage: 10, currentPage: page4, totalItems:totaLbrouillons}"
                                        class="card-body p-2 p-sm-3">
                                        <li class="nav-item" ngbDropdown placement="bottom-right" style="float: right">
                                            <a class="nav-link nav-link-icon no-caret" ngbDropdownToggle
                                                id="nav-inner-success_dropdown_1" role="button" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                                <span class="nav-link-inner--text d-lg-none">Settings</span>
                                            </a>
                                            <div class="dropdown-menu-right"
                                                aria-labelledby="nav-inner-success_dropdown_1" ngbDropdownMenu>
                                                <a class="dropdown-item" (click)="publier(question.id)">Publier</a>
                                                <a class="dropdown-item"
                                                    (click)="open(content, 'deletequestion', question)">Supprimer</a>
                                            </div>
                                        </li>
                                        <div class="media forum-item" [routerLink]="['/publish-question', question.id]">
                                            <div class="media-body">
                                                <h6>
                                                    <a  data-toggle="collapse" data-target=".forum-content"
                                                        class="text-body font-weight-bold">{{ question.intituleQuestion
                                                        }}</a>
                                                    <div *ngFor="let tag of toArray(question?.tag)">
                                                        <span class="badge badge-pill badge-info text-uppercase">{{
                                                            tag.nom }}</span>
                                                    </div>
                                                </h6>
                                                Crée le : {{ question.createdAt | date: "shortDate" }}
                                                <span *ngIf="question.statut == 'valide'"
                                                    class="badge badge-pill badge-success text-uppercase">Valide</span>
                                                <span *ngIf="question.statut == 'invalide'"
                                                    class="badge badge-pill badge-warning text-uppercase">Non
                                                    Valide</span>
                                                <span *ngIf="question.statut == 'onHold'"
                                                    class="badge badge-pill badge-primary text-uppercase">En
                                                    attente</span>
                                                <span *ngIf="question.statut == 'draft'"
                                                    class="badge badge-pill badge-info text-uppercase">Brouillon</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="pagination pagination-sm pagination-circle justify-content-center mb-0">
                                    <pagination-controls (pageChange)="page4 = $event"></pagination-controls>
                                </ul>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle><i class="fa fa-check" aria-hidden="true"></i>Publiées
                            </ng-template>
                            <ng-template ngbTabContent>
                                <div *ngFor="let question of published | paginate: { itemsPerPage: 10, currentPage: page2, totalItems:totaLPublished}"
                                    class="card mb-2" style="margin-top: 30px">
                                    <div class="card-body p-2 p-sm-3">
                                        <li class="nav-item" ngbDropdown placement="bottom-right" style="float: right">
                                            <a class="nav-link nav-link-icon no-caret" ngbDropdownToggle
                                                id="nav-inner-success_dropdown_1" role="button" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                                <span class="nav-link-inner--text d-lg-none">Settings</span>
                                            </a>
                                            <div class="dropdown-menu-right"
                                                aria-labelledby="nav-inner-success_dropdown_1" ngbDropdownMenu>
                                                <a class="dropdown-item"
                                                    [routerLink]="['/update-question', question.id]">Modifier</a>
                                                <a class="dropdown-item"
                                                    (click)="open(content, 'deletequestion', question)">Supprimer</a>
                                            </div>
                                        </li>

                                        <div class="media forum-item">
                                            <div class="media-body">
                                                <h6>
                                                    <a  [routerLink]="['/reponse-list', question.id]" data-toggle="collapse" data-target=".forum-content"
                                                        class="text-body font-weight-bold">{{ question.intituleQuestion
                                                        }}</a>
                                                    <div *ngFor="let tag of toArray(question?.tag)">
                                                        <span class="badge badge-pill badge-info text-uppercase">{{
                                                            tag.nom }}</span>
                                                    </div>
                                                </h6>
                                                Crée le : {{ question.createdAt | date: "shortDate" }}
                                                <span *ngIf="question.statut == 'valide'"
                                                    class="badge badge-pill badge-success text-uppercase">Valide</span>
                                                <span *ngIf="question.statut == 'invalide'"
                                                    class="badge badge-pill badge-warning text-uppercase">Non
                                                    Valide</span>
                                                <span *ngIf="question.statut == 'onHold'"
                                                    class="badge badge-pill badge-primary text-uppercase">En
                                                    attente</span>
                                                <span *ngIf="question.statut == 'draft'"
                                                    class="badge badge-pill badge-info text-uppercase">Brouillon</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="pagination pagination-sm pagination-circle justify-content-center mb-0">
                                    <pagination-controls (pageChange)="page2 = $event"></pagination-controls>
                                </ul>
                            </ng-template>

                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <i class="fa fa-times" aria-hidden="true"></i> Refusées
                            </ng-template>
                            <ng-template ngbTabContent>
                              
                                <div *ngFor="let question of invalidQ | paginate: { itemsPerPage: 10, currentPage: page5, totalItems:totaLInvalid}"
                                    class="card mb-2" style="margin-top: 30px">
                                    <div class="card-body p-2 p-sm-3">
                                        <li class="nav-item" ngbDropdown placement="bottom-right" style="float: right">
                                            <a class="nav-link nav-link-icon no-caret" ngbDropdownToggle
                                                id="nav-inner-success_dropdown_1" role="button" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                                <span class="nav-link-inner--text d-lg-none">Settings</span>
                                            </a>
                                            <div class="dropdown-menu-right"
                                                aria-labelledby="nav-inner-success_dropdown_1" ngbDropdownMenu>
                                                <a class="dropdown-item"
                                                    [routerLink]="['/update-question', question.id]">Modifier</a>
                                                <a class="dropdown-item"
                                                    (click)="open(content, 'deletequestion', question)">Supprimer</a>
                                            </div>
                                        </li>
                                        <div class="media forum-item">
                                            <div class="media-body" >
                                                <h6>
                                                    <a [routerLink]="['/update-question', question.id]" data-toggle="collapse" data-target=".forum-content"
                                                        class="text-body font-weight-bold">{{ question.intituleQuestion
                                                        }}</a>
                                                    <div *ngFor="let tag of toArray(question?.tag)">
                                                        <span class="badge badge-pill badge-info text-uppercase">{{
                                                            tag.nom }}</span>
                                                    </div>
                                                </h6>
                                                Crée le : {{ question.createdAt | date: "shortDate" }}
                                                <span *ngIf="question.statut == 'valide'"
                                                    class="badge badge-pill badge-success text-uppercase">Valide</span>
                                                <span *ngIf="question.statut == 'invalide'"
                                                    class="badge badge-pill badge-warning text-uppercase">Non
                                                    Valide</span>
                                                <span *ngIf="question.statut == 'onHold'"
                                                    class="badge badge-pill badge-primary text-uppercase">En
                                                    attente</span>
                                                <span *ngIf="question.statut == 'draft'"
                                                    class="badge badge-pill badge-info text-uppercase">Brouillon</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="pagination pagination-sm pagination-circle justify-content-center mb-0">
                                    <pagination-controls (pageChange)="page5 = $event"></pagination-controls>
                                </ul>
                            </ng-template>

                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle> En attente </ng-template>
                            <ng-template ngbTabContent>
                                <div *ngFor="let question of requests | paginate: { itemsPerPage: 10, currentPage: page3, totalItems:totaLRequests}"
                                    class="card mb-2" style="margin-top: 30px">
                                    <div class="card-body p-2 p-sm-3">
                                        <li class="nav-item" ngbDropdown placement="bottom-right" style="float: right">
                                            <a class="nav-link nav-link-icon no-caret" ngbDropdownToggle
                                                id="nav-inner-success_dropdown_1" role="button" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                                <span class="nav-link-inner--text d-lg-none">Settings</span>
                                            </a>
                                            <div class="dropdown-menu-right"
                                                aria-labelledby="nav-inner-success_dropdown_1" ngbDropdownMenu>
                                                <a class="dropdown-item"
                                                    [routerLink]="['/update-question', question.id]">Modifier</a>
                                                <a class="dropdown-item"
                                                    (click)="open(content, 'deletequestion', question)">Supprimer</a>
                                            </div>
                                        </li>
                                        <div class="media forum-item">
                                            <div class="media-body" [routerLink]="['/reponse-list', question.id]">
                                                <h6>
                                                    <a  data-toggle="collapse" data-target=".forum-content"
                                                        class="text-body font-weight-bold">{{ question.intituleQuestion
                                                        }}</a>
                                                    <div *ngFor="let tag of toArray(question?.tag)">
                                                        <span class="badge badge-pill badge-info text-uppercase">{{
                                                            tag.nom }}</span>
                                                    </div>
                                                </h6>
                                                Crée le : {{ question.createdAt | date: "shortDate" }}
                                                <span *ngIf="question.statut == 'valide'"
                                                    class="badge badge-pill badge-success text-uppercase">Valide</span>
                                                <span *ngIf="question.statut == 'invalide'"
                                                    class="badge badge-pill badge-warning text-uppercase">Non
                                                    Valide</span>
                                                <span *ngIf="question.statut == 'onHold'"
                                                    class="badge badge-pill badge-primary text-uppercase">En
                                                    attente</span>
                                                <span *ngIf="question.statut == 'draft'"
                                                    class="badge badge-pill badge-info text-uppercase">Brouillon</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="pagination pagination-sm pagination-circle justify-content-center mb-0">
                                    <pagination-controls (pageChange)="page3 = $event"></pagination-controls>
                                </ul>
                            </ng-template>

                        </ngb-tab>
                    </ngb-tabset>


                </div>
            </div>
        </div>
    </section>

    <!--***************************************************** DELETE QUESTUION ************************************************-->
    <ng-template #content let-c="close" let-d="dismiss" aria-labelledby="delete-question">
        <div class="modal-header">
            <h4 class="modal-title" id="modify-reponse">Supprimer Connaissance</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <p>Veuillez confirmer la suppression de la question</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary" (click)="d('Cross click')">
                Annuler
            </button>
            <button type="button" class="btn btn-success" (click)="c('yes')">
                Supprimer
            </button>
        </div>
    </ng-template>
</main>