<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<main>
  <section class="section section-shaped section-lg" style="background-color:  #eef2ff;">
    <div class="shape shape-style-1 bg-white"></div>


    <div class="row" [formGroup]="elements">

      <div class="col-md-4 col-xl-3" style="margin-left: 100px;margin-right:100px;">
        <div class="card bg-c-blue order-card">
          <div class="card-block">
            <div class="custom-control custom-checkbox mb-3">
              
              <input formControlName="users" class="custom-control-input" id="customCheck1" type="checkbox">
              <label class="custom-control-label" for="customCheck1">
                <span class="h4 text-default font-weight-bold">Utilisateurs</span>
              </label>
            </div>
            <h2 class="text-right"><i class="fa fa-users f-left"></i><span>{{propOne}}</span></h2>

          </div>
        </div>
      </div>

      <div class="col-md-4 col-xl-3">
        <div class="card bg-c-green order-card">
          <div class="card-block">
            <div class="custom-control custom-checkbox mb-3">
              <input formControlName="questions" class="custom-control-input" id="customCheck2" type="checkbox">
              <label class="custom-control-label" for="customCheck2">
                <span class="h4 text-default font-weight-bold">Questions</span>
              </label>
            </div>
            <h2 class="text-right"><i class="fa fa-question f-left"></i><span>{{propTwo}}</span>
            </h2>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xl-3" style="margin-left: 80px;margin-right:80px;">
        <div class="card bg-c-yellow order-card">
          <div class="card-block">
            <div class="custom-control custom-checkbox mb-3">
              <input formControlName="connaissances" class="custom-control-input" id="customCheck3" type="checkbox">
              <label class="custom-control-label" for="customCheck3">
                <span class="h4 text-default font-weight-bold">Connaissances</span>
              </label>
            </div>
            <h2 class="text-right"><i class="fa fa-file-text-o f-left"></i><span>{{propThree}}</span></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="card " style="margin-left:100px ;margin-right: 100px;">
      <div class="col-md-8 mt-4 mt-md-0">
        <div class="card-body align-items-center ">
          <div class="row "[formGroup]="datePickerForm" >
            <div class="col-md-8 mt-4 mt-md-0">
            
              <div class="input-daterange datepicker row align-items-center">
                <div class="col">
                  <div class="form-group" [ngClass]="{'focused':focus3===true}">
                    <span class="h6 text-default font-weight-bold"> Date début</span>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                      </div>
                      <input class="form-control datepicker" formControlName="startDate" placeholder="Select date" name="dp1" [(ngModel)]="model1" ngbDatepicker #d1="ngbDatepicker" (click)="d1.toggle()" (select)="mama($event)" type="text" [dayTemplate]="t" (dateSelect)="startDateChanged($event)" autocomplete="off" (focus)="focus3=true" (blur)="focus3=false"/>
                      <ng-template #t let-date let-focused="focused" >
                       <span class="custom-day"
                        [class.text-white]="isActive(date)"
                        [class.range-end]="isRangeEnd(date)"
                        [class.range-start]="isRangeStart(date)"
                        [class.btn-light]="isActive(date)"
                        [class.bg-primary]="isActive(date)"
                        [class.range]="isInRange(date)"
                        [class.faded]="isInRange(date)"
                       >
                         {{ date.day }}
                       </span>
                     </ng-template>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group" [ngClass]="{'focused':focus4===true}">
                    <span class="h6 text-default font-weight-bold"> Date Fin</span>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                      </div>
                      <input class="form-control datepicker" formControlName="endDate" placeholder="Select date" name="dp2" [(ngModel)]="model2" ngbDatepicker #d2="ngbDatepicker" (click)="d2.toggle()" (focus)="focus4=true" (blur)="focus4=false" type="text" [dayTemplate]="t1" (dateSelect)="endDateChanged($event)" autocomplete="off"/>
                      <ng-template #t1 let-date let-focused="focused" >
                       <span class="custom-day"
                        [class.text-white]="isActive(date)"
                        [class.range-end]="isRangeEnd(date)"
                        [class.range-start]="isRangeStart(date)"
                        [class.btn-light]="isActive(date)"
                        [class.bg-primary]="isActive(date)"
                        [class.range]="isInRange(date)"
                        [class.faded]="isInRange(date)"
                       >
                         {{ date.day }}
                       </span>
                     </ng-template>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4" style="margin-top:15px ;">
                  <button type="button" class="btn btn-sm btn-success" (click)="chargerChart()"> Charger</button>
                  <button type="button" class="btn btn-sm btn-outline-primary " (click)="resetChart()" > Reset</button>  
            </div>
          </div>
          <br>
          <br>
          <span class="d-block text-uppercase font-weight-bold mb-2 align-items-center" > Evolution à Viewry</span>
          <div style="width: 1000px;background-color: white;margin-left:100px ;margin-right: 100px;">
            <canvas id="canva">{{chart}}</canvas>
          </div>
        </div>
        <div class="card-footer " style="float: right;">
          <button class="btn btn-sm btn-outline-primary" (click)="downloadPDF()"> Exporter en format pdf</button>
          <button class="btn btn-sm btn-outline-primary" (click)="downloadPNG()"> Exporter en format png</button>
        </div>
      </div>
    </div>
  </section>
</main>