<div class="container">
    <div class="container-xl">
        <div class="row">
         <h4> Les sujets les pllus populaires</h4>
        </div>
        <div class="container "  style="margin-left:100px;margin-right:100px">
         <div  *ngFor="let n of [1,2,3,4]"class="card col-md-4 ">
           <div class="card__header">
           </div>
           <div class="card__body">
             <h3>Symfony</h3>
           </div>
           <div class="card__footer">
            <button  class="btn btn-sm btn-primary" type="button"> Connaissances</button>
            <btn  class="btn btn-sm btn-default" type="button">Questions</btn>
           </div>
        </div>
       </div>
     </div>
</div>
