<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
  integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />

<main>
  <section class="section section-shaped section-lg"
    style="background-color: #eef2ff;">
    <div class="shape shape-style-1 bg-gradient-default"></div>
    <div class="col px-0 ">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-6 text-center" style=" margin-top: 100px;">
          <img src="./assets/img/brand/logo.png" style="width: 150px;" class="img-fluid">
        </div>
      </div>
    </div>
    <br>
    <form class="form-inline form1">
      <div class="form1">
      <input class="form-control mr-sm-8 search" type="search" placeholder="Rechercher..." aria-label="Search">
      <button class="btn btn-outline-primary " type="submit">Rechercher</button>
      </div>
    </form>
    <br><br><br>
    <div class="row align-items-center justify-content-center">
     <div class="col-lg-6 text-center">
        <h2> Les dernieres connaissances</h2>
     </div>
    </div>
    <div class="container ">
      <br>
      
      <div class="container">
        <div class="card">
          
          <div class="card__body">
            <span class="tag tag-blue">Technology</span>
            <h4>What's new in 2022 Tech</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendis molestiae non nemo doloribus. Doloremque, nihil! At ea atque quidem!</p>
          </div>
          <div class="card__footer">
            <div class="user">
              <img src="https://i.pravatar.cc/40?img=1" alt="user__image" class="user__image">
              <div class="user__info">
                <h5>Jane Doe</h5>
                <small>2h ago</small>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          
          <div class="card__body">
            <span class="tag tag-brown">Food</span>
            <h4>Delicious Food</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendis molestiae non nemo doloribus. Doloremque, nihil! At ea atque quidem!</p>
          </div>
          <div class="card__footer">
            <div class="user">
              <img src="https://i.pravatar.cc/40?img=2" alt="user__image" class="user__image">
              <div class="user__info">
                <h5>Jony Doe</h5>
                <small>Yesterday</small>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          
          <div class="card__body">
            <span class="tag tag-red">Automobile</span>
            <h4>Race to your heart content</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendis molestiae non nemo doloribus. Doloremque, nihil! At ea atque quidem!</p>
          </div>
          <div class="card__footer">
            <div class="user">
              <img src="https://i.pravatar.cc/40?img=3" alt="user__image" class="user__image">
              <div class="user__info">
                <h5>John Doe</h5>
                <small>2d ago</small>
              </div>
            </div>
          </div>
        </div>
      </div>   
    </div>
  
    <br><br>
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-6 text-center">
         <h2> Les dernieres questions</h2>
      </div>
     </div>
     <br>
     <br>
    <div class="container">
      <div  *ngFor="let n of [1,2,3]"class="card col-md-8">
        <div class="card__header">
        </div>
        <div class="card__body">
          <h4>What's new in 2022 Tech</h4>
          <span class="tag tag-red">Technology</span>
        </div>
        <div class="card__footer">
          <div>
            4 reponses
          </div>
          <div class="user">
            <img src="https://i.pravatar.cc/40?img=1" alt="user__image" class="user__image">
            <div class="user__info">
              <h5>Jane Doe</h5>
              <small>2h ago</small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br><br>
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-6 text-center">
         <h2> Les sujets les pllus populaires</h2>
      </div>
     </div>
     <br>
     <br>

    <div class="container">
     <div class="container "  style="margin-left:100px;margin-right:100px">
      <div  *ngFor="let n of [1,2,3,4]"class="card col-md-4 ">
        <div class="card__header">
        </div>
        <div class="card__body">
          <h3>Symfony</h3>
        </div>
        <div class="card__footer">
         <button  class="btn btn-sm btn-primary" type="button"> Connaissances</button>
         <btn  class="btn btn-sm btn-default" type="button">Questions</btn>
        </div>
     </div>
    </div>
  </div>
  <br><br><br>
  <div class="container2">
    <div class="content">
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="topic">Address</div>
          <div class="text-one">Surkhet, NP12,Birendranagar 06</div>
        </div>
        <div class="phone details">
          <i class="fas fa-phone-alt"></i>
          <div class="topic">Phone</div>
          <div class="text-one">+0098 9893 5647</div>
        </div>
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">Email</div>
          <div class="text-one">codinglab@gmail.com</div>
        </div>
      </div>
      <div class="right-side">
        <div class="topic-text">Envoyer un message</div>
        <p>Si vous avez une questions, vous pouvez m'envoyer un message à partir d'ici. C'est avec plaisir que je vous aide.</p>
      <form action="#">
        <div class="input-box">
          <input type="text" placeholder="Nom">
        </div>
        <div class="input-box">
          <input type="text" placeholder="Email">
        </div>
        <div class="input-box message-box">
          <textarea placeholder="Message"></textarea>
        </div>
        <div class="button">
          <input type="button" value="Envoyer" >
        </div>
      </form>
    </div>
    </div>
  </div>
  <br>
  <br>
  </section>
</main>