<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
  integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
<link
  href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
  rel="stylesheet">
<link href="assets/vendor/aos/aos.css" rel="stylesheet">
<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
<main>


  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">

      <div class="row justify-content-center" style="margin-top: 200px;">

        <div class="col-xl-7 col-lg-12 text-center">
          <h1>Viewry is where your vision is right</h1>
          
        </div>
      </div>
      <div class="text-center">
       <button class="btn btn-primary" (click)="askQuestionButton()">Poser une question</button>
      </div>

      <div class="row icon-boxes">
        <div *ngFor="let sujet of sujets" class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
          data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <h4 class="title"><a href="">{{sujet.nom}}</a></h4>
            <p class="description">{{(sujet.descriptionSujet.length>100)? (sujet.descriptionSujet |
              slice:0:100)+'..':(sujet.descriptionSujet)}}</p>
          </div>
        </div>
      </div>
      <br><br>
    </div>

  </section>


  <section id="faq" class="faq section-bg" style="margin-top: 40px;">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2 class="row align-items-center justify-content-center">Les questions les plus récentes</h2>
        <p class="row align-items-center justify-content-center">Vous pouvez demandé de l'aide en posant une question et en décrivant votre probleme</p>
      </div>
      <div class="faq-list">
        <div class="card" *ngFor=" let question of questions" style="margin-top:5px;">
          <div class="card-body" [routerLink]="['/reponse-list',question.id]">
            <span><i class="fa fa-question text-primary" aria-hidden="true"></i></span>
            {{question.intituleQuestion}}
          </div>
        </div>
      </div>
      
      <br><br>
    </div>
  </section>
  <section id="counts" class="counts section-bg" style="margin-top: 100px; background-color: #eef2ff;">
    <div class="">

      <div class="row justify-content-end">

        <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
          <div class="count-box">
            <span data-purecounter-start="0" data-purecounter-end="65" data-purecounter-duration="2"
              class="purecounter">{{propOne}}</span>
            <p>Utilisateurs</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
          <div class="count-box">
            <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="2"
              class="purecounter">{{reponses.length}}</span>
            <p>Solutions proposées</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
          <div class="count-box">
            <span data-purecounter-start="0" data-purecounter-end="30" data-purecounter-duration="2"
              class="purecounter">{{questions.length}}</span>
            <p>Questions</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
          <div class="count-box">
            <span data-purecounter-start="0" data-purecounter-end="20" data-purecounter-duration="2"
              class="purecounter">{{connaissances.length}}</span>
            <p>Connaissances partagées</p>
          </div>
        </div>
      </div>
    </div>

  </section>
  <section id="about" class="about" style="margin-top: 100px;">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2 class="row align-items-center justify-content-center">About Us</h2>
        <p class="row align-items-center justify-content-center">Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. </p>
      </div>

      <div class="row content">
          <p class="row align-items-center justify-content-center">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo modi facilis saepe, dolores voluptatem fugiat eveniet vitae nostrum reiciendis nesciunt ad, possimus at blanditiis earum et ipsam enim placeat 
          </p>
        </div>
    </div>

   
  </section>
  <section class="section section-shaped section-lg" style="background-color: white;">
    <div class="section-title">
      <h2 class="row align-items-center justify-content-center">Contact Us</h2>
     Si vous avez une questions, vous pouvez m'envoyer un message à partir d'ici. C'est avec plaisir que je vous
        aide
    </div>
    <div class="container2">
      <div style="float: right;"  *ngIf="showAlertsucces" class="alert alert-success col-md-4" role="alert">
        Votre message a été envoyé avec succée
      </div>
      <div class="content">
        <div class="left-side">
          <div class="address details">
            <i class="fas fa-map-marker-alt text-primary"></i>
            <div class="topic">Address</div>
            <div class="text-one">Surkhet, NP12,Birendranagar 06</div>
          </div>
          <div class="phone details">
            <i class="fas fa-phone-alt text-primary"></i>
            <div class="topic">Phone</div>
            <div class="text-one">+0098 9893 5647</div>
          </div>
          <div class="email details">
            <i class="fas fa-envelope text-primary"></i>
            <div class="topic">Email</div>
            <div class="text-one">codinglab@gmail.com</div>
          </div>
        </div>
        <div class="right-side">
        
         
          <form [formGroup]="reclamationForm">
            <div class="form-group">
              <h6>Nom et Prénom:</h6>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-check fa-lg" *ngIf="reclamationForm.controls['userName'].valid"
                    style="color: #00b88a"></i></span>
                </div>
                <input formControlName="userName" class="form-control" placeholder="Nom et Prénom" type="text">
              </div>
              <ng-container class="text-muted"
              *ngIf="!reclamationForm.controls['userName'].valid && reclamationForm.controls['userName'].dirty ">
              <p style="color: red"><i class="fa fa-exclamation-triangle"> Le nom et le prénom doit contenir au minimum 10 caractéres</i></p>
              <div *ngIf="reclamationForm.controls['userName'].hasError('minlength' )"></div>
              </ng-container>
            </div>
            

              
              <div class="form-group">
                <h6>Email:</h6>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-check fa-lg" *ngIf="reclamationForm.controls['UserEmail'].valid"
                      style="color: #00b88a"></i></span>
                  </div>
                  <input formControlName="UserEmail" class="form-control" placeholder="Nom et Prénom" type="text">
                </div>
                <ng-container class="text-muted"
                *ngIf="!reclamationForm.controls['UserEmail'].valid && reclamationForm.controls['UserEmail'].dirty ">
                <p style="color: red"><i class="fa fa-exclamation-triangle"> Veuillez fournir une adresse mail valide</i></p>
                <div *ngIf="reclamationForm.controls['UserEmail'].hasError('minlength' ) ||reclamationForm.controls['UserEmail'].hasError('email' ) "></div>
                </ng-container>
              </div>
          
              <div class="form-group">
                <h6>Description:</h6>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-check fa-lg" *ngIf="reclamationForm.controls['description'].valid"
                      style="color: #00b88a"></i></span>
                  </div>
                  <textarea placeholder="Message" class="form-control" formControlName="description"></textarea>
                </div>
                <ng-container class="text-muted"
                *ngIf="!reclamationForm.controls['description'].valid && reclamationForm.controls['description'].dirty ">
                <p style="color: red"><i class="fa fa-exclamation-triangle"> La description doit contenir au minimum 20 caracteres</i></p>
                <div *ngIf="reclamationForm.controls['description'].hasError('minlength' )"></div>
                </ng-container>
              </div>
              
            <div style="float: right;">
              <button type="button" class="btn btn-outline-primary " style="margin-top: 12px;" (click)="initReclamationForm()">Annuler</button>
              <button type="button" class="btn btn-success " style="margin-top: 12px;" (click)="sendReclamation()" [disabled]="!reclamationForm.valid">Envoyer</button>
            </div>
          </form>
          
        </div>
      </div>
    </div>
    <br>
    <br>
  </section>
</main>