<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
  integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o="
  crossorigin="anonymous"
/>
<section
  class="section section-shaped section-lg"
  style="background-color: white"
>
  <div class="shape shape-style-1 bg-gradient-default"></div>
  <h3>
    <ngb-alert
      *ngIf="showAlertsucces"
      type="success"
      dismissible="true"
      (close)="close()"
      style="margin-bottom: 5px; margin-left: 800px; margin-right: 80px"
    >
      <span class="alert-inner--text"
        ><strong>{{ strong }}</strong
        >{{ message }}</span
      >
    </ngb-alert>
    <ngb-alert
      *ngIf="showAlerterror"
      type="error"
      dismissible="true"
      (close)="close()"
      style="margin-bottom: 5px; margin-left: 800px; margin-right: 80px"
    >
      <span class="alert-inner--text"
        ><strong>{{ strong }}</strong
        >{{ message }}</span
      >
    </ngb-alert>
  </h3>

  
  <div class="card shadow m-6"
  style="margin-left: 80px; margin-right: 80px;margin-top: 20px; background-color: white">
  <form [formGroup]="searchForm" style="margin: 20px;">
    <div class="row">
      <div class="col">
        <th>Nom de l'utilisateur</th>
        <input class="form-control"  placeholder="Taper le nom du sujet" type="text" (focus)="focus1 = true" (blur)="focus1 = false"
        name="nom"
        formControlName="userNom"
      />
      </div>
      <div class="col">
      <th>Statut de validation</th>
            <select class="form-control" (change)="onEditClick($event.target.value)">
              <option>Tous</option>
              <option>Valide</option>
              <option>Invalide</option>
              <option>En attente</option>
            </select>
          </div>
     
      <div class="col" style="margin-top: 10px;">
         <button  class="btn btn-outline-primary" (click)="resetForm()" style="margin-left: 5px;margin-top:13px">Reset</button>
         <button  class="btn btn-success" (click)="getUserByNom()" style="margin-left: 5px;margin-top:13px">Chercher</button>
      </div>
    </div>
  </form>
</div>
  <div
    class="card shadow m-6"
    style="margin-left: 80px; margin-right: 80px;margin-top: 20px; background-color: white"
  >
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped">
          <tr>
            <th>Login</th>
            <th>Email</th>
            <th>Date Inscription</th>
            <th>Date Validation</th>
            <th>Statut</th>
            <th>Actions</th>
          </tr>
          <tbody *ngFor="let user of users| paginate: { itemsPerPage: 10, currentPage: page, totalItems:totalElemnt}" >
            <tr>
              <td style="padding: auto">{{ user.nomUser }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.createdAt  | date: "dd/MM/yyyy"}}</td>
              <td>{{ user.validatedAt | date: "dd/MM/yyyy" }}</td>
              <td>
                <span
                  *ngIf="user.statut == 'valide'"
                  class="badge badge-pill badge-success text-uppercase"
                  >Valide</span
                >
                <span
                  *ngIf="user.statut == 'invalide'"
                  class="badge badge-pill badge-warning text-uppercase"
                  >Non Valide</span
                >
                <span
                  *ngIf="user.statut == 'onHold'"
                  class="badge badge-pill badge-primary text-uppercase"
                  >En attente</span
                >
              </td>

              <td>
                <button
                  *ngIf="user.statut == 'invalide' || user.statut == 'onHold'"
                  type="button"
                  class="btn btn-icon btn btn-sm btn-success"
                  placement="top"
                  ngbTooltip="Valider"
                  (click)="open(content2, 'acceptQuestion', user)"
                >
                  <i class="fa fa-check" aria-hidden="true"></i>
                </button>
                <button
                  *ngIf="user.statut == 'valide' || user.statut == 'onHold'"
                  type="button"
                  class="btn btn-icon btn btn-sm btn-warning"
                  placement="top"
                  ngbTooltip="Refuser"
                  (click)="open(content1, 'rejectQuestion', user)"
                >
                  <i class="fa fa-times" aria-hidden="true"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-icon btn btn-sm btn-danger"
                  placement="top"
                  ngbTooltip="Supprimer"
                  (click)="open(content, 'delete-question', user)"
                >
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-icon btn btn-sm btn-info"
                  placement="top"
                  ngbTooltip="Consulter"
                  (click)="open(content4, 'view-question', user)"
                >
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <ul class="pagination pagination-sm pagination-circle justify-content-center mb-0">
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
      </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="modal fade" style="width: 700px">
      <button
        class="btn btn-block btn-primary mb-3"
        (click)="open(classic, '', '')"
      >
        Confirmation
      </button>
      <!------------------------------------------------------------------------------------------------------------------------------------------------->
      <ng-template
        #content
        let-c="close"
        let-d="dismiss"
        aria-labelledby="confirm-delete"
      >
        <div class="modal-header">
          <h4 class="modal-title" id="confirmation_delete_modal">
            Confirmation
          </h4>
          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="d('Cross click')"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Vous voulez vraiment supprimer la question?</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-primary"
            (click)="d('Cross click')"
          >
            Annuler
          </button>
          <button type="button" class="btn btn-success" (click)="c('yes')">
            Supprimer
          </button>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="row">
    <div class="modal fade" style="width: 700px">
      <button
        class="btn btn-block btn-primary mb-3"
        (click)="open(classic, '', '')"
      >
        Confirmation
      </button>
      <!-------------------------------------------------------------------------------------------------------------------------------------->
      <ng-template
        #content1
        let-c="close"
        let-d="dismiss"
        aria-labelledby="confirm-rejection"
      >
        <div class="modal-header">
          <h4 class="modal-title" id="confirmation_delete_modal">
            Confirmation
          </h4>
          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="d('Cross click')"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="declineUserForm">
            <div class="form-group">
              <fieldset disabled>
              <label for="recipient-name" class="col-form-label"
                >Recipient:</label
              >
              <input
                formControlName="email"
                type="text"
                class="form-control"
                id="recipient-name"
              />
            </fieldset>
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Message:</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-check fa-lg" *ngIf="declineUserForm.controls['contenuMail'].valid"
                    style="color: #00b88a"></i></span>
                </div>
                <textarea
                formControlName="contenuMail"
                class="form-control"
                id="message-text"
              ></textarea>
              </div>
              <ng-container class="text-muted"
              *ngIf="!declineUserForm.controls['contenuMail'].valid && declineUserForm.controls['contenuMail'].dirty ">
              <p style="color: red"><i class="fa fa-exclamation-triangle"> La description doit contenir au minimum 20 caracteres</i></p>
              <div *ngIf="declineUserForm.controls['contenuMail'].hasError('minlength' )"></div>
              </ng-container>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-primary"
            (click)="d('Cross click')"
          >
            Annuler
          </button>
          <button type="button" class="btn btn-success" (click)="c('yes')"  [disabled]="!declineUserForm.valid">
            Refuser
          </button>
        </div>
      </ng-template>
    </div>
  </div>

  <!-------------------------------------------------------------------------------------------------------------------------------------->
  <div class="row">
    <div class="modal fade" style="width: 700px">
      <button
        class="btn btn-block btn-primary mb-3"
        (click)="open(classic, '', '')"
      >
        Confirmation
      </button>
      <ng-template
        #content2
        let-c="close"
        let-d="dismiss"
        aria-labelledby="confirm-accaptance"
      >
        <div class="modal-header">
          <h4 class="modal-title" id="confirmation_delete_modal">
            Confirmation
          </h4>
          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="d('Cross click')"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Vous voulez vraiment valider la question?</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-primary"
            (click)="d('Cross click')"
          >
            accepter
          </button>
          <button type="button" class="btn btn-success" (click)="c('yes')">
            Valider
          </button>
        </div>
      </ng-template>
    </div>
  </div>
  <!-------------------------------------------------------------------------------------------------------------------------------------->
  <div class="row">
    <div class="modal fade" style="width: 700px">
      <button
        class="btn btn-block btn-primary mb-3"
        (click)="open(classic, '', '')"
      >
        Details Questions
      </button>

      <ng-template
        #content4
        let-c="close"
        let-d="dismiss"
        aria-labelledby="details-question"
      >
        <div class="modal-header">
          <h4 class="modal-title" id="confirmation_delete_modal">
              Détails Utilisateur
          </h4>
          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="d('Cross click')"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="modal-body">
            <h6>Login</h6>
            <p>{{currentUser?.nomUser }}</p>
            <h6>Date Inscription</h6>
            <p>{{currentUser?.createdAt| date: "dd/MM/yyyy"}}</p>
            <span class="badge badge-pill badge-success text-uppercase">Traitée</span>
            <h6>Fonction</h6>
            <p>{{currentUser?.userFonction }}</p>
            <h6>Date Validation</h6>
            <p>{{currentReclamation?.validatedAt| date: "dd/MM/yyyy"}}</p>
            <h6>Remarque</h6>
            <p>{{currentReclamation?.remarque }}</p>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-primary"
            (click)="d('Cross click')"
          >
            Fermer
          </button>
        </div>
      </ng-template>
    </div>
  </div>
</section>
