<nav id="navbar-main" class="navbar fixed-top navbar-expand-lg navbar-dark bg-default" >
  <div class="container" style="width: left 250%;">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
      <img src="./assets/img/brand/logo.png" style="width: 60px;height: 60px;" class="img-fluid">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/home']">
              <img src="./assets/img/brand/blue.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Connaissances</span>
          </a>
          <div class="dropdown-menu-xl dropdown-menu" >
            <div class="dropdown-menu-inner">
              <a routerLinkActive="active" [routerLink]="['questions-list']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                  <i class="ni ni-spaceship"></i>
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-primary mb-md-1">Liste des Connaissances</h6>
                </div>
              </a>
              <a routerLinkActive="active" [routerLink]="['connaissances-list']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                  <i class="ni ni-palette"></i>
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-primary mb-md-1">Ajouter une Connaissance</h6>
                 </div>
              </a>
              <a routerLinkActive="active" [routerLink]="['documentation/alerts']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                  <i class="ni ni-ui-04"></i>
                </div>
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Q & A</span>
          </a>
          <div class="dropdown-menu-xl dropdown-menu" >
            <div class="dropdown-menu-inner">
              <a routerLinkActive="active" [routerLink]="['questions-list']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                  <i class="ni ni-spaceship"></i>
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-primary mb-md-1">Liste des questions</h6>
                </div>
              </a>
              <a *ngIf="authService.isloggedIn" routerLinkActive="active" [routerLink]="['/add-question']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                  <i class="ni ni-palette"></i>
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-primary mb-md-1">Ajouter une question</h6>
                </div>
              </a>
              <a *ngIf="authService.isloggedIn" routerLinkActive="active" [routerLink]="['/mes-questions']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                  <i class="ni ni-palette"></i>
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-primary mb-md-1">Mes Questions</h6>
                </div>
              </a>
              <a *ngIf="authService.isAdmin()" routerLinkActive="active" [routerLink]="['/validation-questions']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                <i class="ni ni-palette"></i>
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-primary mb-md-1">Demandes Questions</h6>
                </div>
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/sujets-list']" class="nav-link no-caret" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">Sujets</span>
          </a>
        </li>
        <li class="nav-item">
          <a *ngIf="authService.isAdmin()" class="nav-link no-caret" [routerLink]="['/users-validation']" role="button">
            <span class="nav-link-inner--text">Communauté</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <li class="nav-item">
          <a *ngIf="!authService.isloggedIn"  [routerLink]="['/login']" class="nav-link no-caret" role="button">
            <span class="btn-inner--icon">
              <i class="fa fa-sign-in mr-2"></i>
            </span>
            <span class="nav-link-inner--text">Se connecter</span>
          </a>
        </li>
        <li class="nav-item d-none d-lg-block">
          <a *ngIf="!authService.isloggedIn"  (click)="router.navigate(['/register']);" target="_blank" class="btn btn-neutral btn-icon">
            <span class="btn-inner--icon">
              <i class="fa fa-user mr-2"></i>
            </span>
            <span class="nav-link-inner--text">S'inscrire</span>
          </a>
        </li>
        <li class="nav-item d-none d-lg-block">
          <a *ngIf="authService.isloggedIn"  (click)="authService.logout()" target="_blank" class="btn btn-neutral btn-icon">
            <span class="btn-inner--icon">
              <i class="fa fa-user mr-2"></i>
            </span>
            <span class="nav-link-inner--text">Deconnexion</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
