<main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 " style="background-color: #eef2ff">
      <!--<span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>-->
    </div>
  
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="alert alert-danger" role="alert" *ngIf="err==1">
              Verifier votre mail ou mot de passe
        </div>
          <div class="card bg-secondary shadow border-0">
            
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <strong>Se connecter</strong>
              </div>
              <form role="form">
                <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" placeholder="Email" type="email" name="username" (focus)="focus=true" (blur)="focus=false" [(ngModel)]="user.email" >
                  </div>
                </div>
                <div class="form-group" [ngClass]="{'focused':focus1===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" placeholder="Password" type="password" name="password" (focus)="focus1=true" (blur)="focus1=false" [(ngModel)]="user.password" >
                  </div>
                </div>
                
                <div class="text-center">
                  <button type="button" class="btn btn-primary my-4" (click)="onLoggedin()" >Se connecter</button>
                </div>
              </form>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <a href="javascript:void(0)" class="text-light">
                <small>Mot de passe oublié?</small>
              </a>
            </div>
            <div class="col-6 text-right">
              <a href="javascript:void(0)" class="text-light">
                <small>S'inscrire</small>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<button hidden id="openModelButton" (click)="open(content)">open</button>
<ng-template #content let-c="close" let-d="dismiss" aria-labelledby="alert-User">    
  <div class="modal-header">  
    <h>Validation du compte</h>     
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">    
          <span aria-hidden="true">×</span>    
      </button>    
  </div>    
  <div class="modal-body">    
    <p>
      Votre compte n'a pas été validé. 
      
    </p>
  </div>    
  <div class="modal-footer">    
      <button type="button" class="btn btn-outline-primary" (click)="d('Cross click')">ok</button>    
  </div>    
</ng-template>
