<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
    integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />

<main>
    <section class="section section-shaped section-lg" style="background-color: white">
        <div class="shape shape-style-1 bg-gradient-default"></div>
      
            <div class="container-lg" style="margin-left: 80px; margin-right:100 px; margin-top: 40px;">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="list-group">
                        <button type="button" class="list-group-item list-group-item-action active">
                          Cras justo odio
                        </button>
                        <button type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis in</button>
                        <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
                        <button type="button" class="list-group-item list-group-item-action">Porta ac consectetur ac</button>
                        <button type="button" class="list-group-item list-group-item-action" disabled>Vestibulum at eros</button>
                      </div></div>
                    <div class="col-sm-8">
                        <div *ngFor="let question of questions" class="card mb-2"  >
                            <div class="card-body p-2 p-sm-3" [routerLink]="['/reponse-list',question.id]">
                                <div class="media forum-item">
                                    <a href="#" data-toggle="collapse" data-target=".forum-content"><img
                                            src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                            class="mr-3 rounded-circle" width="50" alt="User" /></a>
                                    <div class="media-body">
                                        
                                        <h6>
                                            <a href="#" data-toggle="collapse" data-target=".forum-content"
                                                class="text-body font-weight-bold">{{ question.intituleQuestion}}</a>
                                        </h6>
                                        {{question.user.nomUser}}
                                        <div *ngFor="let tag of toArray(question?.tag)">
                                            <span class="badge badge-pill badge-info text-uppercase">{{tag.nom}}</span>
                                        </div>
                                      
                                    </div>
                                </div>
                                <div style="margin-bottom: 5px; float: right">
                                    <button class="btn btn-sm btn-2 btn-primary" type="button">
                                        3
                                        <span class="btn-inner--icon"><i class="fa fa-thumbs-up" aria-hidden="true"
                                                (click)="likeConnaissance()"></i></span>
                                    </button>
                                    <button class="btn btn-sm btn-2 btn-danger" type="button">
                                        3
                                        <span class="btn-inner--icon"><i class="fa fa-thumbs-down" aria-hidden="true"
                                                (click)="dislikeConnaissance()"></i></span>
                                    </button>
                                    <button class="btn btn-sm btn-2 btn-info" type="button"
                                        (click)="showCommentsSection()">
                                        5
                                        <span class="btn-inner--icon"><i class="fa fa-comment"
                                                aria-hidden="true"></i></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                  
                  </div>
              
            <div class="main-body p-0">
               
                <div class="inner-main">
                    <!-- Inner main header -->
                    
                    <!-- /Inner main header -->
                    
                           
                       

                    <ul class="pagination pagination-sm pagination-circle justify-content-center mb-0">
                        <li class="page-item disabled">
                            <span class="page-link has-icon"><i class="fa fa-angle-left"></i></span>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0)">1</a>
                        </li>
                        <li class="page-item active"><span class="page-link">2</span></li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0)">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link has-icon" href="javascript:void(0)"><i
                                    class="fa fa-angle-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>