<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
<section class="section section-shaped section-lg"  style="background-color: white;">
     <div class="shape shape-style-1 bg-gradient-default"></div>
     <div class="content" >
       <div fxLayout="row wrap" fxLayoutGap="16px grid" >
         <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let sujet  of sujets" style="margin: left 100px;">
           <mat-card class="mat-elevation-z4" style="background-color: #eef2ff;" >
             <mat-card-header>
               <mat-card-title> <h4 class="mb-0">{{ sujet.nom }}</h4></mat-card-title>
             </mat-card-header>
               <h1></h1>
             <mat-card-content>
              <div class="col-sm-9">
                <p>
                  {{ sujet.descriptionSujet }}
                 </p>
              </div>

             </mat-card-content>
             <mat-card-actions>
              <button class="btn btn-sm btn-primary" type="button">Questions</button>
              <button class="btn btn-sm btn-default" type="button">Connaissances</button>
             </mat-card-actions>
           </mat-card>
         </div>
       </div>
       </div>
