<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
  integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
<section class="section section-shaped section-lg">
  <div class="shape shape-style-1 bg-gradient-default"></div>
    <h3 class="h4 text-danger font-weight-bold mb-4">
      List of registrations request
    </h3>
    <div class="card shadow m-6" style="margin-left: 10px; margin-right: 20px;">
      <div class="card-body" >
        <div class="table-responsive">
          <table class="table table-striped">
            <tr>
              <th>Nom</th>
              <th>Email</th>
              <th>Fonction</th>
              <th>Inscription</th>
              <th>Statut</th>
              <th>Date Validation</th>
              <th>Actions</th>
            </tr>
            <tbody *ngFor="let user of users">
              <tr>
                <td style="padding:auto">{{ user.nomUser }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.userFonction }}</td>
                <td>{{ user.demandedAt | date: "dd/MM/yyyy" }}</td>
                <td>{{ user.statutValidation }}</td>
                <td>{{ user.validatedAt | date: "dd/MM/yyyy" }}</td>
                <td>
                  <button type="button" class="btn btn-icon btn btn-sm btn-success" (click)="validerUser(user)">
                    <i class="fa fa-check" aria-hidden="true"></i>
                  </button>
                  <button type="button" class="btn btn-icon btn btn-sm btn-warning" (click)="supprimerUser(user)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</section>